body {
  background-image: url("sketching.mp4");
  background-attachment: scroll;
  font-family: 'Open-sans', sans-serif;
  font-weight: 300;
  color: black;
  font-size: 18px;
  line-height: 25px;
  /*background-attachment: scroll;*/
}

video {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
  background-size: cover;
  transition: 1s opacity;
}

#profile-image {
  background-image: url('images/kayracz.jpeg');
  background-size: cover;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  margin: 0 auto;
  margin-bottom: 20px;
  box-shadow: 1px 5px;
  color: grey;
}

#profile {
  border-radius: 150px;
  width: 300px;
  height: 300px;
}

h1{
  color: #0b409c;
  font-family: sans-serif;
  font-size: 30px;
  line-height: 10px;
  text-shadow: 2px 4px 40px white;

}

h2, h3{
  color: #10316b;
  font-family: sans-serif;
  font-size: 20px;
  line-height: 10px;
  text-shadow: 2px 4px 25px white;
}

h4 {
  color: #0c907d;
  font-family: sans-serif;
  font-size: 18px;
  line-height: 10px;
  text-shadow: 1px 1px 20px lightgrey;
}

p {
 font-size: 15px;
}

li, a {
  color: blue;
  text-decoration: none;
  text-align: center;
  border-spacing: center

}

.list-inline li {
 display:inline-block;
 text-align: center;
 padding: 0px 15px;
 font-size: 25px;
 text-shadow: 1px 1px 15px grey;
}

h4:hover{
 color:darkgreen;
}

a:hover {
  color:purple;
}


img {
  width:300px;
  text-align: center;
}


.card {
  width: 60%;
  text-align: center;
  padding: 40px 0px;
  margin: 40px auto;
  background-color: #EBEBEB;
  opacity: 0.8;
  border-radius:6px;
  /*border-right: 1px solid black;*/
  /*border-bottom: 1px solid black;*/
  /*margin: 200px;*/
}


<!-- Screen stuff -->

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 1000px;
  }
}
@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 800px;
  }
}
@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 600px;
  }
}
